# This is a comment.
# Each line is a file pattern followed by one or more owners.
# These owners will be the default owners for everything in the repo.
* @navjot-s_inmobi @adarsh-singh_inmobi @Ravi-r_inmobi @aravind-anil_inmobi